.title-best-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0px 30px;
}
.fa-circle-chevron-down{
    font-size: 40px;
    padding-top: 15px;
    margin: 0px 10px 0px 10px;
}
.d-block{
    display: block;
    color: red;
}
.d-none{
    display: none;   
}

.main-cart{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.bill{
    width: 28%;
    height: 500px;
    border: 2px solid black;
    margin: 15px;
    border-radius: 7px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-in-cart{
    width: 100%;
    min-height: 500px;
    border: 2px solid black;
    margin: 15px;
    border-radius: 7px;
    padding: 20px;
}

#count-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: larger;
}
#price-item{
    font-size: larger;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.all-items{
    width: 500px;
    height: 100px;
    border: solid 3px rgb(94, 93, 93);
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    position: relative;
    cursor: pointer;
    transition: .5s;
    color: black;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-items:hover{
    background-color: black;
    color: white;
}

.all-items h1 {
    font-size: 40px;
}

.d-block{
    display: block;
    color: red;
}

.d-none{
    display: none;
}